body,html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.footer {
  padding:5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FDC161;
  color: #ECEDEF;
  border-top: 3px solid #A8C3B9;
}

.jumbotron {
  background-color: rgb(184, 161, 233) !important;
  border-bottom: 3px solid #aaa;
}

.navbar {
  background-color: #181E30 !important;
  border-bottom: 3px solid #A8C3B9;
}

.center {
  text-align: center;
}

.top-margin {
  margin-top: 5%;
}

.border {
  border: 3px solid #333;
  border-radius: 10px;
  width: 25%;
  padding: 20px;
}

.border-top {
  border-top: 3px solid #333;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 20px;
}

.pad {
  padding:10px;
}

.center-el {
  margin-left: auto;
  margin-right: auto;
}

/*results page*/

.results-text {
  padding: 25px; 
}

.list-group{
  padding: 25px;
  max-height: 800px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.card-body{
  text-align: center;
}