body,html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-image: url("bg.jpg");
  background-size: stretch;
  background-position: center;
}

.bg-hero {
  background-image: url("bg.jpg");
  background-size: stretch;
  background-position: center;
}

.display-4 {
  font-weight: bold;
  text-shadow: 2px 2px 4px #cf6d79;
  color: #A8C3B9;
}

.footer {
  padding:5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FDC161;
  color: #ECEDEF;
  border-top: 3px solid #A8C3B9;
}


.lead {
  font-weight:bold;
}

.display-4 {
  font-weight: bolder;
}

.btn-outline-primary {
  color: #181E30;
  border-color: #181E30;
}

.btn-outline-primary:hover {
  background-color: #A8C3B9;
  color: #fff;
  border-color: #181E30;
}

.btn-outline-primary:active {
  background-color: #cf6d79;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 .2rem #cf6d79 !important;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  display:flex;
  vertical-align: baseline;
  height: 40%;
}

.modal-content {
  background-color: #ffe2e5;
}

.modal-header {
  background-color: #181E30;
  color: #fff;
  border-bottom: 3px solid #A8C3B9;
}

.navbar {
  background-color: #181E30 !important;
  border-bottom: 3px solid #A8C3B9;
}

.center {
  text-align: center;
}

.top-margin {
  margin-top: 5%;
}

.border {
  border: 3px solid #A8C3B9;
  border-radius: 10px;
  width: 25%;
  padding: 20px;
}

.border-top {
  border-top: 3px solid #A8C3B9;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 20px;
}

.pad {
  padding:10px;
}

.center-el {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  position: relative;
}

/*results page*/

.results-text {
  padding: 25px; 
}

.list-group{
  padding: 25px;
  max-height: 800px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.card-body{
  text-align: center;
}

#map {
  height: 180px;
}

.img-thumbnail {
  margin-right: 10px;
  width: 50px; 
  height: 50px;
}

h2 {
  color: #181E30;
  text-shadow: 2px 2px 4px #cf6d79;
}
